<header class = "navbar">
 {{navigation}}
</header>
<div class="post-header">
<!-- Sanminimal logo, links to homepage -->
    <a class="blog-logo" href="{{@blog.url}}"><img src="{{asset "images/Logo.svg"}}" onmouseover="this.src = '{{asset "images/Logo-pink.svg"}}'" onmouseout="this.src = '{{asset "images/Logo.svg"}}'" alt="{{@blog.title}}" /></a>
</div>
