<!DOCTYPE html>
<html>
	<head>
		{{!-- Document Settings --}}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		{{!-- Page Meta --}}
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />

		{{!-- Mobile Meta --}}
		<meta name="HandheldFriendly" content="True" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{!-- Brand icon --}}
		<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}"/>

		{{!-- Scripts --}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/output.css"}}" />


		{{!-- Ghost outputs important style and meta data with this tag --}}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">

		<div class="site-wrapper">
            <header class = "navbar">
	           {{navigation}}
            </header>
            <div class="post-header">
<!-- Sanminimal logo, links to homepage -->
                <a class="blog-logo" href="{{@blog.url}}"><img src="{{asset "images/Logo.svg"}}" onmouseover="this.src = '{{asset "images/Logo-pink.svg"}}'" onmouseout="this.src = '{{asset "images/Logo.svg"}}'" alt="{{@blog.title}}" /></a>
		    </div>
			{{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
			{{{body}}}

			<footer class="site-footer clearfix container">
				<section class="copyright">Copyright &copy; {{date format="YYYY"}} Seean Kim</section>
			</footer>

		</div>

		{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		{{!-- Ghost outputs important scripts and data with this tag --}}
		{{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/index.min.js"}}"></script>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-96816616-1', 'auto');
              ga('send', 'pageview');
        </script>


	</body>
</html>
