{{!< default}}


<main role="main">
    <div class = "container">
<!-- This is the post loop - each post will be output using this markup -->
	{{#foreach posts}}
	<article class="{{post_class}}">
        
		<section class="post-excerpt">
            
<!-- Hidden post url for cover image link, used by javascript -->
            <div class = "post-url">{{url}}</div>
            <div class = "issue-info">{{date format = 'MMMM YYYY'}}|no.{{this.id}}</div>
            <div class = "publication-info">PRINTED IN NY</div>
            
<!-- Main content inserted here -->
			{{content}}
            
		</section>
        
		<footer class="post-meta">

		</footer>
	</article>
	{{/foreach}}
        
    </div>

</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}
