{{!< default}}


<main role="main">
    <div class = "container">
<!-- This is the post loop - each post will be output using this markup -->
	{{#foreach posts}}
	<article class="{{post_class}}">

		<section class="post-excerpt">

<!-- Hidden post url for cover image link, used by javascript -->
            <div class = "issue-info"><span class = "issue-no">no</span> {{date format = 'MMMM YYYY'}}</div>
            <div class = "issue-number"><h5>{{this.id}}</h5></div>
            <div class = "publication-info">PRINTED IN NY</div>
            <div class = "post-id">{{this.id}}</div>
            <div class = "post-url">{{url absolute="true"}}</div>


<!-- Main content inserted here -->
			{{content}}

		</section>

		<section class="post-meta">
            tags | {{tags}}
		</section>
	</article>
	{{/foreach}}



<!-- Previous/next page links - displayed on every page -->
{{pagination}}

<div id="disqus_thread"></div>
</div>
</main>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = document.getElementsByClassName('post-url')[0].innerHTML;
this.page.identifier = 'hello-'+document.getElementsByClassName('post-id')[0].innerHTML;

};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://sanminimal.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
