{{!< default}}


<main role="main">
    <div class = "container">
<!-- This is the post loop - each post will be output using this markup -->
	{{#foreach posts}}
	<article class="{{post_class}}">

		<section class="post-excerpt">

<!-- Hidden post url for cover image link, used by javascript -->
            <div class = "post-url">{{url}}</div>
            <div class = "issue-info"><h4>no</h4>|{{date format = 'MMMM YYYY'}}</div>
            <div class = "issue-number"><h5>123</h5></div>
            <div class = "publication-info">PRINTED IN NY</div>

<!-- Main content inserted here -->
			{{content}}

		</section>

		<footer class="post-meta">
            tags | {{tags}}
		</footer>
	</article>
	{{/foreach}}

    </div>

</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}
