{{!< default}}

<main role="main">
    <div class = "container">
		<header class="post-header">
            <!-- Sanminimal logo, links to homepage -->
			<a class="blog-logo" href="{{@blog.url}}"><img src="{{asset "images/Logo.svg"}}" alt="{{@blog.title}}" /></a>
		</header>
    
        <div id = "about-image">
            <img src="{{asset "images/portrait.jpg"}}" alt="portrait" />
	    </div>
        
        <div id = "about-container">
            <div id = "about-content">
                <br>
                <p><span id = "about-header">Editor-in-chief</span>:Seean Kim</p>
                <br>
                <p>I am based in New York. Sanminimal will be where I share my reviews, recipes, and shoots. </p>
                <br>
                <p>Email me at <a href = "mailto:sanminimal@gmail.com">sanminimal.com</a></p>
                <br>
                <p>I will gladly review your product, just shoot me an email! All reviews are honest and are written after extended use. I do not publish press releases, and you must send in your product for a review. </p>
            </div>
            <div id = "instagram">
                <br>
                <a href = "https://www.instagram.com/skim_chee/"><img src="{{asset "images/instagram.svg"}}" alt="portrait" /></a>
            </div>
        </div>
    </div>
</main>