{{!< default}}

<main role="main">
    <div class = "container">
        <div class = "issue-pink">
          <div class = "issue-info"><span class = "issue-no">no</span> {{date format = 'MMMM YYYY'}}</div>
          <div class = "issue-number"><h5>{{date format = 'D'}}</h5></div>
          <div class = "publication-info">PRINTED IN NY</div>
        </div>

        <div class = "cover-image">
            <img src="{{asset "images/index.jpg"}}" alt="portrait" />
	      </div>

        <div class = "container center-container">
<!--Search form using ghostHunter-->
            <div class = "search-form">
                <form>
                    <img src = "{{asset "images/search.svg"}}"/>
                    <input class = "search-field" type = "text" placeholder = "Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'"/>
                </form>
            </div>
<!--Search results from ghostHunter, hides index container upon showing results-->
            <section class="search-results"></section>

<!--Contains index of loosely categorized posts-->
            <div class = "index-container">
                {{#get "posts" limit="all"}}
                    {{#foreach posts}}
                        <span>
                            <a class = "post-link" href="{{url}}">{{title}}</a>
                        </span>
                        <br>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>

    </div>
</main>
