{{!< default}}
{{> header}}
<!-- Everything inside the #post tags pulls data from the post -->
{{#post}}

<div class = "container">
    <article class="{{post_class}}">
      <section class="post-content">

        <!-- Hidden post url for cover image link, used by javascript -->
        <div class = "issue-info"><span class = "issue-no">no</span> {{date format = 'MMMM YYYY'}}</div>
        <div class = "issue-number"><h5>{{this.id}}</h5></div>
        <div class = "publication-info">PRINTED IN NY</div>
        <!-- Main content inserted here -->
        {{content}}

        <section class="post-meta">
            tags | {{tags}}
        </section>

      </section>
    </article>
    <div id="disqus_thread"></div>
</div>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = '{{url absolute="true"}}';
this.page.identifier = 'ghost-{{id}}';
console.log('{{url absolute="true"}}');
console.log('ghost-{{id}}');

};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://sanminimal.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{/post}}
