{{!< default}}

<!-- Everything inside the #post tags pulls data from the post -->
{{#post}}
             
<div class = "container">
    <article class="{{post_class}}">
      <section class="post-content">

        <!-- Hidden post url for cover image link, used by javascript -->
        <div class = "post-url">{{url}}</div>
        <div class = "issue-info">{{date format = 'MMMM YYYY'}}|no.{{this.id}}</div>
        <div class = "publication-info">PRINTED IN NY</div>  
        <!-- Main content inserted here -->  
        {{content}}

        <section class="post-meta">

        </section>

      </section>     
    </article>
</div>
{{/post}}    