{{!< default}}

<!-- Everything inside the #post tags pulls data from the post -->
{{#post}}
              
<article class="{{post_class}}">
    
  <header class="post-header">
    <!-- Sanminimal logo, links to homepage -->
    <a class="blog-logo" href="{{@blog.url}}"><img src="{{asset "images/Logo.svg"}}" alt="{{@blog.title}}" /></a>
  </header>
    
  <section class="post-content">
      
    <!-- Hidden post url for cover image link, used by javascript -->
    <div id = "post-url">{{url}}</div>
      
    <!-- Main content inserted here -->  
    {{content}}
      
    <h1 class="post-title">{{title}}</h1>
      
    <section class="post-meta">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
        </time> 
        {{tags prefix=" on "}}
    </section>
      
  </section>     
</article>

{{/post}}    